<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_shop.css">
    <title>Artistas</title>
</head>
<body id="artists-body"> 
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>

      <div class="container mt-3 py-3 rounded-4" style="background-color: #23252B">
        <h1 class="display-2 text-center text-white">ARTISTAS</h1>
        <h2 class="text-center text-white">Encontrá a todos tus artistas preferidos</h2>
      </div>

        <!-- LIST OF ARTISTS -->
          <div class="container text-center bg-light my-5 text-center p-0">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-2 g-lg-3 p-0" style="background-color:#23252B">
            <% artistsList.forEach(artist => { %>
              <div class="col d-flex justify-content-center p-0" id="artist-card">
                <div class="card artists-card border-0 m-3" style="width:15rem;background-color:#23252B">
                  <a href="/artistDetail/<%- artist.id %>" style="background-color:#23252B" class="text-decoration-none text-white">
                    <img src="/images/artists/<%- artist.logo %>" class="card-img-top" alt="...">
                    <span class="fs-5 fw-bold"><%- artist.name %></span>
                  </a>   
                </div>
              </div>
              <% }); %>
            </div>
          </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>