<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title><%= title %></title>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <main>
    <form class="form-create-product needs-validation" action="#" method="post" enctype="multipart/form-data" novalidate>
      <section style="min-height: 100vh;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: .5rem; ">
                </br>      
                <div class="row g-0">
                  <h3 class="display-6 card-title text-center text-gray mt-4">CREAR NUEVO PRODUCTO</h3>
                  <!-- LEFT SECTION -->
                  <div class="col-md-4 gradient-custom text-center text-gray" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    </br></br>
                    <!-- CAROUSEL IMGS -->
                    <div class="form-group input-field-register row">
                    <label for="user_image" class="text-center text-white">Foto de perfil</label>
                    <div class="rounded-image text-center">
                      <img src="images/products/avatar.png" class="img-fluid w-50 p-5" />
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="btn btn-light btn-rounded" style="padding: 5px">
                        <label class="form-label text-black m-1" for="customFile1">Seleccionar nuevas
                            imagenes</label>
                          <input type="file" class="form-control" id="product_image" name="product_image" multiple="multiple" accept=".jpg, .png, .jpeg" />
                      </div>
                    </div>
                    </div>
                  </div>

                  <!-- PRODUCTS DETAILS -->
                  <div class="col-md-8">
                      <div class="card-body p-4 container">
                        <h6 class="text-center fs-5">Detalles Producto</h6>
                        <hr class="mt-0 mb-4">
                        <div class="row pt-1">
                          <div class="form-floating mb-3 col">
                              <input type="number" name="product_sku" id="product_sku" class="form-control">
                              <label for="product_sku">SKU</label>
                          </div>
                          <div class="invalid-feedback">
                            Please select a valid state.
                          </div>
                          <div class="form-floating mb-3 col">
                              <input type="text" name="product_name" id="product_name" class="form-control">
                              <label for="product_name">NOMBRE</label>
                          </div>
                        </div>
                        <div class="row pt-1">
                          <div class="form-floating mb-3 col">
                            <input type="number" name="product_price" id="product_price" class="form-control" minlength="1" required>
                            <label for="product_price">PRECIO UNITARIO</label>
                            <div class="invalid-feedback">
                              Please select a valid state.
                            </div>
                          </div>
                          <div class="form-floating mb-3 col">
                            <input type="number" name="product_quantity" id="product_quantity" class="form-control" minlength="1" required>
                            <label for="product_quantity">CANTIDAD STOCK</label>
                          </div>
                        </div>
                        <div class="row pt-1">
                          <div class="form-floating mb-3 col">
                            <select class="form-select" name="product_artist" id="product_artist" aria-label="Default select example">
                              <option selected>Seleccionar</option>
                              <% artistList.forEach(artist => { %>
                              <option value="<%- artist.id %>"><%- artist.name %></option>
                              <% }); %>
                            </select>
                            <label for="product_artist">ARTISTA</label>
                          </div>
                          <div class="form-floating mb-3 col">
                            <select class="form-select" name="product_category" id="product_category" aria-label="Default select example">
                              <option selected>Seleccionar</option>
                              <% categoriesList.forEach(category => { %>
                              <option value="<%- category.id %>"><%- category.description %></option>
                              <% }); %>
                            </select>
                            <label for="product_artist">CATEGORIA</label>
                          </div>
                        </div>
                        <div class="row pt-1">
                          <div class="form-floating mb-3 col">
                            <input type="text" name="product_size" id="product_size" class="form-control">
                            <label for="product_size">TALLE</label>
                          </div>
                          <div class="form-floating mb-3 col">
                            <input type="text" name="product_format" id="product_format" class="form-control">
                            <label for="product_format">FORMATO</label>
                          </div>
                        </div>
                        <div class="row pt-1">
                          <div class="form-floating mb-3 col">
                            <input type="text" name="product_color" id="product_color" class="form-control">
                            <label for="product_color">COLOR</label>
                          </div>
                          <div class="form-floating m-auto col">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                              <input type="radio" class="btn-check" name="product_is_active" id="btnradio1" autocomplete="off" checked>
                              <label class="btn btn-outline-dark" for="btnradio1">ACTIVO</label>
                            
                              <input type="radio" class="btn-check" name="product_is_active" id="btnradio2" autocomplete="off">
                              <label class="btn btn-outline-dark" for="btnradio2">NO ACTIVO</label>
                            </div>
                          </div>
                        </div>
                        <div class="row pt-1">
                          <div class="form-floating mb-3 col">
                            <textarea class="form-control" name="product_description" id="product_description" rows="3"
                              required>Escriba la descripcion del producto aquí</textarea>
                            <label for="product_description">DESCRIPCION</label>
                          </div>
                        </div>
                      </div>
                  </div>

                  <!-- BUTTONS SECTION -->
                  <br><br><br>
                  <div class="container text-center py-3 bg-dark rounded-bottom">
                      <div class="row gx-5">
                        <div class="col">
                          <button type="submit" class="btn btn-success btn-lg"> GUARDAR</button>
                        </div>
                        <div class="col">
                          <a href="/">
                            <button type="button" class="btn btn-secondary btn-lg">CANCELAR</button>
                        </div>
                      </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>

    <script type="application/javascript" src="/js/validationCreate.js"></script>
  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
  </script>

</body>

</html>