<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/styles_register.css">
  <title>Edición de Producto</title>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <main>

    <form class="form-create-product" method="post" action="/editProduct/<%= product.id %>?_method=PUT">
      <section class="vh-100" style="background: url('https://www.unidiversidad.com.ar/cache/recitales-cultura_1000_1100.jpg')">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: .5rem; ">
                </br>
                <div class="row g-0">
                  <h3 class="display-6 card-title text-center text-gray">Editar producto</h1>

                    <div class="col-md-4 gradient-custom text-center text-gray" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                      </br>
                      </br>
                      <div class="form-group input-field-register row">
                        <label for="user_image" class="text-center text-gray">Imagenes del producto</label>
                        <div class="rounded-image text-center">
                          <img src="../../images/products/<%= product.dataValues.imagePrimary %>" class="img-fluid w-200 p-5" />
                        </div>

                        <div class="d-flex justify-content-center">
                          <div class="btn btn-primary btn-rounded">
                            <label class="form-label text-white m-1" for="customFile1">Seleccionar nuevas imagenes</label>
                            <input type="file" id="product_image" name="product_image" accept=".jpg, .png, .jpeg" class="form-control d-none" id="customFile1" />
                          </div>
                        </div>

                      </div>
                      </br>
                      <button type="submit" class="btn btn-success">
                        Guardar cambios
                      </button>

                      </br>
                      </br>
                      <button type="submit" class="btn btn-danger">
                        Eliminar producto
                      </button>

                      </br>
                      </br>
                      <a href="/shop">
                        <button type="button" class="btn btn-warning">
                          Cancelar
                        </button>
                      </a>
                      </br>
                      </br>
                    </div>


                    <div class="col-md-8">
                      <div class="card-body p-4">
                        <h6>Crear un nuevo producto</h6>
                        <hr class="mt-0 mb-4">
                        <div class="row pt-1">

                          <div class="col-6 mb-3">
                            <h6>Nombre del producto</h6>
                            <i class="fa-solid fa-user"></i><input type="text" value="<%= product.dataValues.name %>" class="form-control" name="product_name" id="product_name" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Precio unitario</h6>
                            <i class="fa-solid fa-user"></i><input type="number" value="<%= product.dataValues.price %>" class="form-control" name="product_price" id="product_price" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Cantidad en inventario</h6>
                            <i class="fa-solid fa-user"></i><input type="number" value="<%= product.dataValues.quantity %>" class="form-control" name="product_quantity" id="product_quantity" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Artista vinculado</h6>
                            <i class="fa-solid fa-user"></i><input type="number" value="<%= product.dataValues.artist_id %>" class="form-control" name="artist_id" id="artist_id" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Color / Colores del producto</h6>
                            <i class="fa-solid fa-user"></i><input type="text" value="<%= product.dataValues.color ? product.dataValues.color : "No aplica" %>" class="form-control" name="artist_id" id="artist_id" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Talla</h6>
                            <i class="fa-solid fa-user"></i><input type="text" value="<%= product.dataValues.size ? product.dataValues.size : "No aplica" %>" class="form-control" name="artist_id" id="artist_id" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Formato</h6>
                            <i class="fa-solid fa-user"></i><input type="text" value="<%= product.dataValues.format %>" class="form-control" name="artist_id" id="artist_id" minlength="1">
                          </div>


                          <div class="col-6 mb-3">
                            <h6>Categoria del producto</h6>
                            <select class="form-select col-6 mb-3">
                              <option selected>Seleccionar</option>
                              <option value="1">Vinilo</option>
                              <option value="2">CD</option>
                              <option value="3">DVD - Peliculas</option>
                              <option value="3">Ropa</option>
                            </select>
                          </div>

                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                            <textarea class="form-control" name="product_description" id="product_description" rows="3"><%= product.dataValues.description %></textarea>
                          </div>

                        </div>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>

    <div class="main-container">
      <form class="form-create-product" method="post" action="/editProduct/<%= product.id %>?_method=PUT">
        <h1 class="title">Edición de Producto</h1>
        <div class="input-field">
          <label for="product_name">Nombre de producto</label>
          <i class="fa-sharp fa-solid fa-box"></i><input type="text" name="product_name" id="product_name" minlength="3" value="<%= product.product_name %>" required>
        </div>

        <div class="input-field-small">
          <label for="product_price">Precio</label>
          <i class="fa-solid fa-dollar-sign"></i><input type="number" name="product_price" id="product_price" value="<%= product.product_price %>" required>
        </div>

        <div class="input-field-small">
          <label for="product_quantity">Cantidad en stock</label>
          <i class="fa-solid fa-plus-minus"></i><input type="number" name="product_quantity" id="product_quantity" value="<%= product.product_quantity %>" required>
          <!--BUSCAR PARA QUE SE BORRE EL VALUE-->
        </div>

        <div class="input-field-small">
          <label>Categoria</label>
          <select name="category" class="select-category" required>
            <!--<option value="cat0"><%= product.product_category %></option>-->
            <!--ESTO DEBERIA PONER LA CATEGORIA QUE TIENE EL PRODUCTO-->
            <option value="cat1">Categoria 1</option>
            <option value="cat2">Categoria 2</option>
            <option value="cat3">Categoria 3</option>
            <option value="cat4">Categoria 4</option>
          </select>
        </div>

        <!--AGREGAR img CON LA IMAGEN QUE YA TIENE EL PRODUCTO-->

        <div class="input-img">

          <img class="img_product" src="/images/<%= product.product_image %>" alt="Imagen" class="product_img">
          <label for="img">Cambiar imágenes del producto</label>
          <input type="file" name="product_img" accept=".jpg" multiple class="file-option">
        </div>

        <div class="input-field">
          <label for="product_description">Descripción del producto</label>
          <textarea name="product_description" id="product_description" maxlength="300" required><%= product.product_description %></textarea>
        </div>

        <div class="container-buttons">
          <button type="submit">EDITAR</button>
          <button type="reset">LIMPIAR</button>
        </div>
      </form>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</body>

</html>