<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_register.css">
    <title>Edici칩n de Producto</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <div class="main-container">
            <form class="form-create-product" method="post" action="/editProduct/<%= product.id %>?_method=PUT">
                <h1 class="title">Edici칩n de Producto</h1>
                <div class="input-field">
                    <label for="product-name">Nombre de producto</label>
                    <i class="fa-sharp fa-solid fa-box"></i><input type="text" name="product_name" id="product_name"
                        minlength="3" value="<%= product.product_name %>" required>
                </div>

                <div class="input-field-small">
                    <label for="product-price">Precio</label>
                    <i class="fa-solid fa-dollar-sign"></i><input type="number" name="product_price" id="product_price" value="<%= product.product_price %>" required>
                </div>

                <div class="input-field-small">
                    <label for="product-quantity">Cantidad en stock</label>
                    <i class="fa-solid fa-plus-minus"></i><input type="number" name="product_quantity"
                        id="product_quantity" value="<%= product.product_quantity %>" required> <!--BUSCAR PARA QUE SE BORRE EL VALUE-->
                </div>

                <div class="input-field-small">
                    <label>Categoria</label>
                    <select name="category" class="select-category" required>
                        <!--<option value="cat0"><%= product.product_category %></option>--> <!--ESTO DEBERIA PONER LA CATEGORIA QUE TIENE EL PRODUCTO-->
                        <option value="cat1">Categoria 1</option>
                        <option value="cat2">Categoria 2</option>
                        <option value="cat3">Categoria 3</option>
                        <option value="cat4">Categoria 4</option>
                    </select>
                </div>

                <!--AGREGAR img CON LA IMAGEN QUE YA TIENE EL PRODUCTO-->

                <div class="input-img">

                    <img class="img_product" src="images/<%= product.product_image %>" alt="Imagen" class="product_img">
                    <label for="img">Cambiar im치genes del producto</label>
                    <input type="file" name="product_img" accept=".jpg" multiple class="file-option">
                </div>

                <div class="input-field">
                    <label for="product-description">Descripci칩n del producto</label>
                    <textarea name="product_description" id="product_description" maxlength="300"
                     required><%= product.product_description %></textarea>
                </div>

                <div class="container-buttons">
                    <button type="submit">EDITAR</button>
                    <button type="reset">LIMPIAR</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>

</html>