<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title><%= title %></title>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <main>

    <form class="form-create-product" method="post" action="/editProduct/<%= product.id %>?_method=PUT">
      <section class="vh-100"
        style="background: url('https://www.unidiversidad.com.ar/cache/recitales-cultura_1000_1100.jpg')">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: .5rem;">
                </br>
                <div class="row g-0">
                  <h3 class="display-6 card-title text-center text-gray">EDITAR PRODUCTO</h3>
                  
                  <!-- LEFT SECTION -->
                  <div class="col-md-4 gradient-custom text-center text-gray" style="border-top-left-radius: .5rem;border-bottom-left-radius: .5rem;">
                      </br></br>
                      <!-- CAROUSEL IMGS -->
                      <div class="form-group input-field-register row">
                        <label for="user_image" class="text-center text-gray">Imagenes del producto</label>
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                          <div class="carousel-indicators ">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <% if (product.dataValues.imageSecond != null) { %>
                              <img src="../../images/products/<%= product.dataValues.imagePrimary %>" class="d-block w-100" alt="Avatar"/>
                              <% } else { %>
                              <img src="../../images/products/avatar.jpeg" alt="Avatar" class="d-block w-100"/>
                              <% } %>
                            </div>
                            <div class="carousel-item">
                              <% if (product.dataValues.imageSecond != null) { %>
                              <img src="../../images/products/<%= product.dataValues.imageSecond %>" class="d-block w-100" alt="Avatar" />
                              <% } else { %>
                              <img src="../../images/products/avatar.jpeg" class="d-block w-100"/>
                              <% } %>
                            </div>
                            <div class="carousel-item">
                              <% if (product.dataValues.imageThird != null) { %>
                              <img src="../../images/products/<%= product.dataValues.imageThird %>" class="d-block w-100" />
                              <% } else { %>
                              <img src="../../images/products/avatar.jpeg" class="d-block w-100" />
                              <% } %>
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>


                        <div class="d-flex justify-content-center">
                          <div class="btn btn-light btn-rounded" style="padding: 5px">
                            <label class="form-label text-black m-1" for="customFile1">Seleccionar nuevas
                              imagenes</label>
                            <input type="file" class="form-control" id="product_image" name="product_image"
                              accept=".jpg, .png, .jpeg" />
                          </div>
                        </div>

                      </div>
                  
                    </div>


                    <div class="col-md-8">
                      <div class="card-body p-4">
                        <h6>Crear un nuevo producto</h6>
                        <hr class="mt-0 mb-4">
                        <div class="row pt-1">

                          <div class="col-6 mb-3">
                            <h6>Nombre del producto</h6>
                            <i class="fa-solid fa-user"></i><input type="text" value="<%= product.dataValues.name %>"
                              class="form-control" name="product_name" id="product_name" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Precio unitario</h6>
                            <i class="fa-solid fa-user"></i><input type="number" value="<%= product.dataValues.price %>"
                              class="form-control" name="product_price" id="product_price" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Cantidad en inventario</h6>
                            <i class="fa-solid fa-user"></i><input type="number"
                              value="<%= product.dataValues.quantity %>" class="form-control" name="product_quantity"
                              id="product_quantity" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Artista vinculado</h6>
                            <i class="fa-solid fa-user"></i><input type="number"
                              value="<%= product.dataValues.artist_id %>" class="form-control" name="artist_id"
                              id="artist_id" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Color / Colores del producto</h6>
                            <i class="fa-solid fa-user"></i><input type="text"
                              value="<%= product.dataValues.color ? product.dataValues.color : "No aplica" %>"
                              class="form-control" name="artist_id" id="artist_id" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Talla</h6>
                            <i class="fa-solid fa-user"></i><input type="text"
                              value="<%= product.dataValues.size ? product.dataValues.size : "No aplica" %>"
                              class="form-control" name="artist_id" id="artist_id" minlength="1">
                          </div>

                          <div class="col-6 mb-3">
                            <h6>Formato</h6>
                            <i class="fa-solid fa-user"></i><input type="text" value="<%= product.dataValues.format %>"
                              class="form-control" name="artist_id" id="artist_id" minlength="1">
                          </div>


                          <div class="col-6 mb-3">
                            <h6>Categoria del producto</h6>
                            <select class="form-select col-6 mb-3">
                              <option selected>Seleccionar</option>
                              <option value="1">Vinilo</option>
                              <option value="2">CD</option>
                              <option value="3">DVD - Peliculas</option>
                              <option value="3">Ropa</option>
                            </select>
                          </div>

                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                            <textarea class="form-control" name="product_description" id="product_description"
                              rows="3"><%= product.dataValues.description %></textarea>
                          </div>

                        </div>
                      </div>
                    </div>

                      <!-- BUTTONS SECTION -->
                      <br><br><br>
                      <div class="container text-center my-3">
                        <div class="row gx-5">
                          <div class="col">
                            <button type="submit" class="btn btn-success"> GUARDAR</button>
                          </div>
                          <div class="col">
                            <button type="submit" class="btn btn-danger">ELIMINAR</button>
                          </div>
                          <div class="col">
                            <a href="/productDetail/<%= product.id %>">
                              <button type="button" class="btn btn-dark">CANCELAR</button>
                          </div>
                        </div>
                      </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </main>
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>