<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_shop.css">
    <title>Tienda</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <h1>Tienda</h1>
        <div class="container-product-list">
            <!-- 
                RE HACER LA LOGICA
                Si la lista trae al menos un valor, se recorre todo el listado
                En caso contrario, se muestra un único producto (variable product)
            -->
        <% list.forEach(product => { %>
            
            <a href="/productDetail/<%= product.id %>"><img src="/images/products/<%= product.imagePrimary %>"
                alt="" class="product_img"> </a>

                <h3 class="product-name"><%= product.name %></h3>

       <% }); %>   

        </div>
        <a href="/createProduct" class="btn-flotante">Crear Producto</a>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>