<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_shop.css">
    <title>Tienda</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <h1>Tienda</h1>
        <div class="container-product-list">
            <!-- 
                RE HACER LA LOGICA DE ESTA GARCHA
                Si la lista trae al menos un valor, se recorre todo el listado
                En caso contrario, se muestra un único producto (variable product)
            -->
            <% if list[0] {
                 list.forEach(product => { %>
            <div class="product-item">
                <% if(product.imageUrl){ %>
                <% if(Array.isArray(product.imageUrl)) { %>
                <% product.imageUrl.forEach(image => { %>
                <a href="/productDetail/<%= producto.id %>"><img src="/images/products/<%= image.name %>"
                        alt="<%= image.name %>" class="product_img"> </a>
                <% }) %>
                <% } else { %>
                <a href="/productDetail/<%= producto.id %>"><img src="/images/products/<%= producto.product_image %>"
                        alt="<%= producto.product_image %>" class="product_img"> </a>
                <% } %>

                <a href="/productDetail">
                    <h3 class="product-name"><%= producto.product_name %></h3>
                </a>
                <p class="value-category">CATEGORIA</p> <!--  producto.category %> -->
                <div class="product-values">
                    <p class="value-price"><%= producto.product_price %></p>
                    <i class="fa-solid fa-cart-arrow-down value-cart"></i>
                    <!--  al presionar deberia sumar al carrito %> -->
                </div>
            </div>
            <% }) %>
            <%  } %>

        </div>
        <a href="/createProduct" class="btn-flotante">Crear Producto</a>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>