<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles_shop.css">
    <link rel="stylesheet" href="css/styles_footer.css">
    <link rel="stylesheet" href="css/styles_header.css">
    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/14d8ab3f7b.js" crossorigin="anonymous"></script>
    <!-- Fotorama from CDNJS, 19 KB -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eb1e7833c7.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <%- include('./partials/head.ejs') %>
    </header>
    <main>
        
        <div class="main-title">
            <h1>Tienda</h1>
        </div>
        <div class="main-artist-collection">
            <article>
                <ul>
                    <% lista.forEach(producto => { %>
                        <li>
                           <a href="/productDetail"> <img src="images/<%= producto.image %>" alt= "Imagen" class= "product_img" > </a>
                           <h3 class="name"><%= producto.name %></h3>
                           <div class="main-article">
                            <p class="price"><%= producto.price %></p>
                            <h4 class="description"><%= producto.description %></h4>
                        </div>
                       </li>
                      <% }) %>
                </ul>
            </article>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>