<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_shop_copy.css">
    <title>Tienda</title>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <div class="main-title">
            <h1>Tienda</h1>
        </div>
        <div class="container-product-list">
            <% lista.forEach(producto => { %>
            <div class="product-item">
                <a href="/productDetail"> <img src="images/<%= producto.image %>" alt="Imagen" class="product_img"> </a>
                <h3 class="product-name"><%= producto.name %></h3>
                <div class="product-values">
                    <p class="price"><%= producto.price %></p>
                    <h4 class="description"><%= producto.description %></h4>
                </div>
            </div>
            <% }) %>

        </div>
        <a href="#" class="btn-flotante">Crear Producto</a>
    </main>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>