<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Editar perfil de usuario</title>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <main>
    <section class="vh-100"
      style="background: url('https://www.unidiversidad.com.ar/cache/recitales-cultura_1000_1100.jpg')">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-10 mb-4 mb-lg-0">
            <form action="/editProfile/<%= usuario.id %>?_method=PUT" method="post" enctype="multipart/form-data">
              <div class="card mb-3" style="border-radius: .5rem; ">
                <div class="row g-0">
                  <div class="col-md-4 gradient-custom text-center text-white"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <% if (usuario.imageProfile   == "404.jpg") { %>
                    <img src="../../images/users/avatar.png" alt="Avatar" class="img-fluid my-5"
                      style="width: 150px; border-radius: 40%;" />
                    <% } else { %>
                    <img src="../../images/users/<%= usuario.imageProfile %>" alt="Avatar"
                      class="img-fluid my-5" style="width: 150px; border-radius: 40%;" />
                    <% } %>
                    </br>

                    <div class="d-flex justify-content-center">
                      <div class="btn btn-light btn-rounded" style="padding: 3px">
                        <label class="form-label text-black m-1" for="customFile1">Seleccionar foto de
                          perfil</label>
                        <input type="file" class="form-control" id="user_image_edit" name="user_image_edit"
                          accept=".jpg, .png, .jpeg, .webp" />
                      </div>
                    </div>
                  </br>
                  <button type="button" class="btn btn-primary btn-lg" id="changePass" name="changePass" onclick="cambiarPassword()">
                    Cambiar contraseña
                  </button>
                    </br>
                    </br>
                      <button type="submit" class="btn btn-success">
                        Guardar cambios
                      </button>
                    </br>
                  </br>
                    <a href="/profile">
                      <button type="button" class="btn btn-warning">
                        Cancelar
                      </button>
                    </a>
                    </br>
                    </br>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-4">
                      <h6>Editar perfil de usuario</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Nombre</h6>
                          <i class="fa-solid fa-user"></i><input type="text" name="user_name_edit" id="user_name_edit"
                            minlength="3" value=<%= usuario.name %> required>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Apellidos</h6>
                          <i class="fa-solid fa-user"></i><input type="text" name="user_surname_edit"
                            id="user_surname_edit" minlength="3" value=<%= usuario.surname %> required>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Nombre de usuario</h6>
                          <i class="fa-solid fa-user"></i><input type="text" name="user_user_name_edit"
                            id="user_user_name_edit" minlength="3" value=<%= usuario.userName %> required>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Correo electronico</h6>
                          <i class="fa-solid fa-user"></i><input type="text" name="user_email_edit" id="user_email_edit"
                            minlength="3" value=<%= usuario.email %> required>
                        </div>
                        <div class="col-6 mb-3">
                          <i class="fa-solid fa-user"></i><input type="password" name="user_password_old" placeholder="Ingresar contraseña actual"
                            id="user_password_old" minlength="3">
                        </div>
                        <div class="col-6 mb-3">
                          <i class="fa-solid fa-user"></i><input type="password" name="user_password_edit" placeholder="Ingresar nueva contraseña"
                            id="user_password_edit" minlength="3">
                        </div>
                        <div class="col-6 mb-3">
                          <i class="fa-solid fa-user"></i><input type="password" name="user_password_repeat" placeholder="Repetir contraseña nueva"
                            id="user_password_repeat" minlength="3">
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Dirección de envios</h6>
                          <i class="fa-solid fa-user"></i><input type="text" name="user_address_edit"
                            id="user_address_edit" minlength="3" value=<%= usuario.address %>>
                        </div>

                        <div class="col-6 mb-3">
                          <% if (locals._locals.usuario) { %>
                          <% if (locals._locals.usuario.roles_id == 1) { %>
                          <h6>Categoria del usuario</h6>
                          <select class="form-select col-6 mb-3"  name="roles_id" id="roles_id">
                            <option selected>
                              <%if(usuario.roles_id == 1){ %>
                               Administrador
                              <% }else if(usuario.roles_id == 2){ %>
                                 Cliente
                                <% } %>
                            </option>
                            <option value="1">Administrador</option>
                            <option value="2">Cliente</option>
                          </select>
                          <% } %>
                          <% } %>
                        </br>
                        <button type="button" class="btn btn-warning" id="back" name="back" onclick="atras()">
                          Atrás
                        </button>
                          </br>
                        </div>
                        <div class="col-6 mb-3">
                          <% if (locals.usuario) { %>
                            <% if (locals.usuario.roles_id == 1) { %>
                                <a href="/deleteUser/<%= locals._locals.usuario.id %> ">
                                <button type="button" class="btn btn-danger">
                                  Eliminar usuario
                                </button>
                              </a>
                            <% } %>
                            <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

  <script src="/js/validatorUsers.js"></script>
</body>

</html>