<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/styles_register.css">
  <title>Perfil de usuario</title>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <main>
    <section style="min-height:100vh" class="d-flex align-items-center justify-content-center">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 mb-4 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem; ">
              <div class="row g-0">
                <!-- TABLE SECTION -->
                <div class="col p-5">
                    <h1 class="text-center my-3">ADMINISTRACIÓN DE USUARIOS</h1>
                    <hr class="mt-0 mb-4">
                    <div class="table-responsive">
                      <table id="users_table" class="table">
                        <thead>
                          <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Nombre usuario</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Editar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% usersList.forEach(user => { %>
                          <tr>
                            <td>
                                <% if (user.imageProfile == "404.jpg") { %>
                                  <!--no profile img -->
                                  <img src="../../images/users/avatar.png" alt="Avatar" width="50" height="50"/>
                                <% } else { %>
                                  <!--user logged , with profile img -->
                                  <img src="../../images/users/<%= user.imageProfile %>" style=" width:60px;  height:60px;  border-radius:100px"/>
                                <% } %>
                            </td>
                            <td><%- user.userName %></td>
                            <td><%- user.roles_id == 1 ? "Administrador" : "Cliente" %></td>
                            <td> 
                              <a href="/editProfile/<%- user.id %>">
                                <button type="button" class="btn btn-outline-dark">
                                  Editar
                                </button>
                              </a>  
                            </td>
                          </tr>
                          <% }); %>
                        </tbody>
                      </table>
                  </div>
                </div>

                <!-- BUTTONS SECTION -->
                <div class="container text-center bg-dark rounded-bottom">
                  <div class="row gx-5 justify-content-center">
                    <div class="col-12 col-md-4 my-2">
                      <% if (locals.usuario) { %>
                        <% if (locals.usuario.roles_id == 1) { %>
                        <a href="/createProfile">
                          <button type="button" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                            </svg>
                            CREAR USUARIO
                          </button>
                        </a>
                        <% } %>
                        <% } %>
                    </div>
                    <div class="col-12 col-md-4 my-2">
                      <% if (locals.usuario) { %>
                        <% if (locals.usuario.roles_id == 1) { %>
                        <a href="/profile">
                          <button type="button" class="btn btn-primary">
                            CANCELAR
                          </button>
                        </a>
                        <% } %>
                        <% } %>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</body>

</html>